*.iml
*.jks
.gradle
.idea
.txt
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
/release

output.json

/.idea
.cxx
gradlew
gradle.properties
gradlew.bat
signing.properties